.container {
  display: flex;
  width: 100%;
  background: var(--gray-500);
  border-radius: 8px;
  padding: 16px;
  align-items: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border: 1px solid var(--gray-400);
}

.description {
  color: var(--gray-100);
  font-size: 0.875rem;
  width: 100%;
  margin-left: 12px;
}

.done {
  color: var(--gray-100);
  font-size: 0.875rem;
  width: 100%;
  margin-left: 12px;

  text-decoration-line: line-through;
}
