.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background: var(--gray-700);
  gap: 0rem 0.75rem;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--blue);
  font-size: 2.5rem;
  font-weight: 900;
}

.subtitle {
  color: var(--purple);
  font-size: 2.5rem;
  font-weight: 900;
}
