.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 64px;
}

.header {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
}

.taskStatusContainer {
  align-items: center;
  display: flex;
  gap: 0px 8px;
}

.tasksCreated {
  color: var(--blue);
  font-weight: 700;
}

.tasksFinished {
  color: var(--purple);
  font-weight: 700;
}

.count {
  background: var(--gray-400);
  border-radius: 100%;
  color: var(--gray-200);
  font-size: 0.75rem;
  font-weight: 700;
  padding: 2px 8px;
}

.tasksList {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px 0px;
}
